body {
  background-color: #FAEBD7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color:#ffb3c1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   
}
.material-symbols-outlined{
  cursor: pointer;
  color: white;
}
.contact .material-symbols-outlined{
  color: black;
}
.contac-me {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contac {
  width: 50%;
}

fieldset {
  margin-top: 5%;
  padding: 30px;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  border: none;
  border-radius: 10px;
}

fieldset p {
  color: #555;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sendmsg {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.sendmsg {
  resize: vertical;
}

.btn {
  width: 150px; 
  padding: 10px;
  background-color: #ff6f91;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-start;
}

.btn:hover {
  background-color: #ff4d6b; 
}

.ressaux {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height:350px;
  width: 30%;
  align-items: center;
  margin-right: 10%;
  margin-top: 7.5%;

  border-radius: 10px;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  padding: 20px;
}

.ressaux p {
  font-size: 18px; 
  font-weight: bold;
}

.ressaux a {
  font-size: 30px; 
  color: #555;
  text-decoration: none;
  margin: 5px 0;

}

.ressaux a:hover {
  color: #ff6f91; 
}
